# Temporary files
~$*
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build/Archive artifacts
*.zip
*.tar.gz
*.tgz

# Local project source documents
Experimental_Toolkit_Thermal_Insulation_SOP_Illustrated.docx
